In [1]:
import sys
import os
sys.path.append(os.getcwd()[:-8])

In [2]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from catboost import CatBoostClassifier
from ACME.ACME import ACME

In [3]:
from plotly.io import write_image
import matplotlib.pyplot as plt

In [4]:
glass_data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/glass/glass.data',index_col=[0])
glass_data.columns = ['RI','Na','Mg','Al','Si','K','Ca','Ba','Fe','Type']

In [5]:
features = glass_data.drop(columns='Type').columns.to_list()

In [6]:
glass_data

          RI     Na    Mg    Al     Si     K    Ca    Ba    Fe  Type
1
2    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.00     1
3    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.00     1
4    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.00     1
5    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.00     1
6    1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.00  0.26     1
..       ...    ...   ...   ...    ...   ...   ...   ...   ...   ...
210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.00     7
211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.00     7
212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.00     7
213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.00     7
214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.00     7

[213 rows x 10 columns]

In [7]:
rfc = RandomForestClassifier(verbose=False).fit( glass_data[features], glass_data['Type'].values )

In [8]:
acme_rf = ACME(rfc, 'Type',K=50, task = 'class')

In [9]:
acme_rf = acme_rf.fit(glass_data,robust = True, label_class=None)

In [19]:
#acme_rf.summary_plot()

In [20]:
#acme_rf.bar_plot()

In [12]:
acme_class =  acme_rf.fit(glass_data,robust = True, label_class=1)

In [21]:
#acme_class.summary_plot()

In [14]:
local_acme = acme_class.fit_local(glass_data,local=100, label_class=1)

In [15]:
fig = local_acme.summary_plot(local=True)

In [25]:
#fig.write_html("file.html")

In [40]:
local_acme.local_table().tail(10)

,effect,predictions,mean_prediction,original,quantile,Importance,local_quantile
Fe,0.17,0.17,0.14,0.150000,0.816327,0.020375,0.0
Fe,0.18,0.18,0.14,0.163878,0.836735,0.020375,0.0
Fe,0.18,0.18,0.14,0.170000,0.857143,0.020375,0.0
Fe,0.18,0.18,0.14,0.190000,0.877551,0.020375,0.0
Fe,0.18,0.18,0.14,0.220000,0.897959,0.020375,0.0
Fe,0.19,0.19,0.14,0.240000,0.918367,0.020375,0.0
Fe,0.19,0.19,0.14,0.240204,0.938776,0.020375,0.0
Fe,0.21,0.21,0.14,0.280000,0.959184,0.020375,0.0
Fe,0.21,0.21,0.14,0.316735,0.979592,0.020375,0.0
Fe,0.20,0.20,0.14,0.510000,1.000000,0.020375,0.0

In [41]:
tmp = pd.DataFrame(glass_data.loc[100]).T

In [42]:
rfc.predict_proba(tmp.drop(columns='Type'))

array([[0.14, 0.77, 0.08, 0.  , 0.  , 0.01]])

In [43]:
tmp['Fe'] = 0.51

In [44]:
rfc.predict_proba(tmp.drop(columns='Type'))

array([[0.2 , 0.66, 0.12, 0.02, 0.  , 0.  ]])